body {
  text-align: center;
  color: #fff;
  font-weight: 200;
  text-align: center;
  background-color: #E9E6E9;
  background-image: linear-gradient(to bottom, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -moz-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -o-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -ms-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, .7)), to(rgba(68, 68, 68, .7))), url("../assets/bg.jpg");
  background-image: -webkit-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-size: auto, cover;
}
h1 {
  font-weight: 200;
  font-size: .9em;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #62C059;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
.nav-bar {
  background-color: transparent !important;
}
.nav-bar span{
  font-weight: 400;
  font-size: 1.2em;
}
/*Hilarious selectors for color text in header*/
#c {
  color: #A02527;
}
#o {
  color: #F0EAD5;
}
#l {
  color: #DDBE6B;
}
#o2 {
  color: #975E17;
}
#r {
  color: #AFB577;
}
.searchbox {
  margin-top: 100px;
}
.color-info {
  margin: 30px auto 0 auto;;
  text-align: center;
  font-size: 20px;
  list-style-type: none;
}
.color-details > ul > li {
  text-align: right;
}
.code-list > ul > li {
  text-align: left;
}
.color-details > ul > li > span,
.code-list > ul > li > span {
  width: 100px;
}
.color-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.disclaimer span {
  font-weight: 400;
}
li span {
  font-weight: 400;
}

md-content.md-default-theme {
  background-color: transparent;
  width: 50%;
  margin: auto;
}
