<html lang="en" ng-app="colorSearch">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Color my Mini</title>
    <meta name="viewport" content="initial-scale=1" />
    <meta name="description" content="Color My Mini - The Source for Classic Mini Paint Codes">
    <meta name="copyright" content="Copyright &copy; 2015 - Color My Mini">
    <meta name="author" content="Cole Gentry">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Classic, Mini, Cooper, Paint, Codes, BMC, Austin, Morris, Leyland">
    <meta property="og:title" content="Color My Mini - The Source for Classic Mini Paint Codes">
    <meta property="og:site_name" content="Color My Mini">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The Source for Classic Mini Paint Codes">
    <meta property="og:url" content="http://www.colormymini.com">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  </head>
  <body ng-controller="ColorCtrl">
    <md-toolbar class="nav-bar">
      <div class="md-toolbar-tools">
        <h1 class="md-flex"><span id="c">C</span><span id="o">o</span><span id="l">l</span><span id="o2">o</span><span id="r">r</span> <span>my Mini</span> - Classic Mini Paint Codes</h1>
      </div>
    </md-toolbar>
    <div class="searchbox">
      <md-content class="md-padding">
        <h2>Finding Your Paint Code has Never Been so Easy</h2>
        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              md-no-cache="false"
              md-selected-item="selectedColor"
              md-search-text="searchText"
              md-items="color in filterColors(searchText)"
              md-item-text="color.name"
              md-min-length="2"
              placeholder="Just start typing your color name">
            <md-item-template>
              <span md-highlight-text="searchText" md-highlight-flags="^i">{{color.name.toUpperCase()}}  -  {{color.years}}</span>
            </md-item-template>
            <md-not-found>
              No matches found for "{{searchText}}".
            </md-not-found>
          </md-autocomplete>
        </form>
        <aside>Over {{colors.length}} colors listed</aside>

      </md-content>
    </div>
    <aside class="md-padding disclaimer"><span>Disclaimer</span> - We do not guarantee these colors to be correct. Many of these codes come from old books that may no longer be accurate. Please test the paints before using them on anything important.</aside>
    <div class="color-info" ng-show="selectedColor" layout="row">
      <div class="color-details md-padding" flex>
        <ul>
          <li class="title">
            <span>Color:</span> {{selectedColor.name.toUpperCase()}}
          </li>
          <li class="sub-info" ng-show="selectedColor.years">
            <span>Years in Service:</span> {{selectedColor.years || 'Unknown'}}
          </li>
          <li class="sub-info" ng-show="selectedColor.color">
            <span>Approx Color:</span> {{selectedColor.color.toUpperCase()}}
          </li>
        </ul>
      </div>
      <div class="code-list md-padding" flex>
        <ul>
          <li ng-show="selectedColor.bmc"><span>BMC Code:</span> {{selectedColor.bmc.toUpperCase()}}</li>
          <li ng-show="selectedColor.blvc"><span>BLVC Code:</span> {{selectedColor.blvc.toUpperCase()}}</li>
          <li ng-show="selectedColor.rover"><span>Rover Code:</span> {{selectedColor.rover.toUpperCase()}}</li>
          <li ng-show="selectedColor.centari"><span>Centari Code:</span> {{selectedColor.centari.toUpperCase()}}</li>
          <li ng-show="selectedColor.lucite"><span>Lucite Code:</span> {{selectedColor.lucite.toUpperCase()}}</li>
          <li ng-show="selectedColor.dulux"><span>Dulux Code:</span> {{selectedColor.dulux.toUpperCase()}}</li>
          <li ng-show="selectedColor.dupotstandox"><span>Dupot Standox Code:</span> {{selectedColor.dupotstandox.toUpperCase()}}</li>
          <li ng-show="selectedColor.glasurit"><span>Glasurit Code:</span> {{selectedColor.glasurit.toUpperCase()}}</li>
          <li ng-show="selectedColor.ditzlerppg"><span>Ditzler/PPG Code:</span> {{selectedColor.ditzlerppg.toUpperCase()}}</li>
          <li ng-show="selectedColor.ici"><span>ICI Code:</span> {{selectedColor.ici.toUpperCase()}}</li>
          <li ng-show="selectedColor.randm"><span>R&amp;M Code:</span> {{selectedColor.randm.toUpperCase()}}</li>
          <li ng-show="selectedColor.sherwin"><span>Sherwin Williams Code:</span> {{selectedColor.sherwin.toUpperCase()}}</li>
          <li ng-show="selectedColor.martinsenour"><span>Martin Senour Code:</span> {{selectedColor.martinsenour.toUpperCase()}}</li>
        </ul>
      </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <!-- Personal Angular App Code -->
    <script src="js/app.js"></script>
    <!-- Analytics Code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68009641-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
